nav {
    background-color: #333;
    color: #FFF8F0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-right: 10px;
    cursor: default;
}

nav a {
    color: #FFF8F0;
    text-decoration: none;
}

nav a:hover {
    color: #97bd30;
    text-decoration: underline;
}

form, .text-end {
    display: flex;
    align-items: center;
}

input {
    border-radius: 25px;
    padding: 0 5px;
    font-size: large;
}

button {
    border-radius: 10px;
    padding: 6px;
    margin: 5px 15px;
    background-color: #97bd30;
    font-weight: bold;
}

main {
    background-color: #FFF8F0;
    min-height: calc(100vh - 60px);
    width: 100vw;
}

h1, h3 {
    margin: 0 0 0 10px;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
}

.rack {
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 10px;
}

.rack-sides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

p {
    margin: 3px;
}

table {
    width: 95%;
    font-size: medium;
    border: 1px solid #333;
    margin: 5px;
}

td {
    padding: 2px;
}

.header {
    font-weight: bold;
    column-span: all;
}

.home-page {
    font-size: medium;
}

a {
    color: #8693AB;
}

a:hover {
    color: blue;
    cursor: pointer;
}